@import "CommonColors";

#footer {
    padding: 2vmin 1vmin 2vmin 1vmin;
    z-index: 1;
    width: 100%;
    position: relative;

    h5,
    p {
        text-align: justify;
        width: fit-content;
        margin: 0px;
        padding: 0px;
    }
}

.light-theme {
    #footer {
        background-color: $white-common;

        h5,
        p {
            color: $black-common;
        }
    }
}

.dark-theme {
    #footer {
        background-color: $black-common;

        h5,
        p {
            color: $white-common;
        }
    }
}